main {
  padding: 40px 50px 20px;
}

.main__title {
  font-size: 26px;
}

.title__count {
  color: gray;
  font-size: 34px;
}

.search-form {
  display: flex;
  column-gap: 40px;
  row-gap: 20px;
  margin-top: 20px;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--gray);
}

.main__content {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 30px;
  row-gap: 30px;
}

.main__pages {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .main__title {
    font-size: 18px;
  }

  .title__count {
    font-size: 24px;
  }

  .search-form {
    flex-direction: column;
  }

  .search-form > Button {
    width: 100%;
  }
}
