:root {
  font-family: 'Roboto';
  --search-yellow: rgb(239, 173, 77);
  --link-yellow: rgb(255, 190, 63);
  --gray: rgba(0, 0, 0, 0.23);
  --red: rgb(237, 26, 59);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
